<!DOCTYPE html>
<html>
<head>
    <title>Session analysis</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
    <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
    <style>
    </style>
    <script>
        function submitForm() {
            document.getElementById("dimensionForm").submit();
        }
    </script>
</head>
<body>
    <div class="dropdown-and-session-info">
        <div class="dropdown-container">
            <form id="dimensionForm" action="/analysis/{{ session_id }}" method="post">
                <select id="dimension" name="dimension" onchange="submitForm()">
                    <option selected disabled>Select a dimension</option>
                    <option value="Anger">Anger</option>
                    <option value="Distress">Distress</option>
                    <option value="Anxiety">Anxiety</option>
                </select>            
            </form>
            <br>
            <a href="/">Home</a>
            <a href="https://docs.google.com/spreadsheets/d/12kdXMixqPOi5dwPBsxawfAe2asPIWhMyfl51is0jZyc/edit?usp=sharing"target="_blank">Training data</a>
        </div>
        <div class="session-info">
            <p>Session ID: {{ session_id }}</p>
            <p>Ethnicity: {{ ethnicity }}</p>
        </div>
    </div>
    <br>
    <br>
    <img src="data:image/png;base64,{{ chart_image }}">
    <br>
    <video id="sentiment-analysis" class="video-js vjs-big-play-centered vjs-theme-city" controls preload="auto" width="800" height="600"
    data-setup="{}">
        <source src="https://ablexr.s3.eu-central-1.amazonaws.com/hume_audio_h.mp4?raw=yes" type='video/mp4'>
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
    </video>
</body>
</html>
