<!DOCTYPE html>
<html>
<head>
	<title>Session analysis</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	<style>

	</style>
	<script>
		function submitForm() {
			document.getElementById("dimensionForm").submit();
		}
	</script>
</head>
<body>
	<div class="dropdown-and-session-info">
		<div class="dropdown-container">
			<form id="dimensionForm" action="/analysis/{{ session_id }}" method="post">
				<label for="dimension">Select Dimension:</label>
				<select id="dimension" name="dimension" onchange="submitForm()">
					<option value="Anger">Anger</option>
					<option value="Distress">Distress</option>
					<option value="Anxiety">Anxiety</option>
				</select>            
			</form>
			<br>
			<a href="/">Home</a>
			<a href="https://docs.google.com/spreadsheets/d/12kdXMixqPOi5dwPBsxawfAe2asPIWhMyfl51is0jZyc/edit?usp=sharing"target="_blank">Training data</a>
		</div>
		<div class="session-info">
			<p>Session ID: {{ session_id }}</p>
			<p>Ethnicity: {{ ethnicity }}</p>
		</div>
	</div>
	<br>
	<img src="data:image/png;base64,{{ chart_image }}">
	<br>
	<iframe width="800" height="600" src="https://www.youtube.com/embed/AyfxHCbGGZk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</html>