<!DOCTYPE html>
<html>
<head>
    <title>Session analysis</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        function submitForm() {
            document.getElementById("dimensionForm").submit();
        }
    </script>
</head>
<body>
    <div class="dropdown-and-session-info">
        <div class="dropdown-container">
			<form id="dimensionForm" action="/analysis/analysis/{{ session_id }}" method="post">
				<select id="dimension" name="dimension" onchange="submitForm()">
					<option selected disabled>Select a dimension</option>
					<option value="Anger">Anger</option>
					<option value="Distress">Distress</option>
					<option value="Anxiety">Anxiety</option>
				</select>            
			</form>
			<a href="/">Home</a>
			<a href="https://docs.google.com/spreadsheets/d/1kqr4H5RroiZDW-Y6-JXzdFNZpUNxmPlWXaiaIsXp4Os/edit?usp=sharing"target="_blank">Training data</a>
			<p>Session ID: {{ session_id }}</p>
			<p>Ethnicity: {{ ethnicity }}</p>
		</div>
    </div>
	<div class="chart-container">
		<img src="data:image/png;base64,{{ chart_image }}">
	</div>
    <br>
</body>
</html>
