<!DOCTYPE html>
<html>
<head>
    <title>Trainer Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Trainer Login</h1>
        <form method="post">
			<input type="password" name="password" placeholder="Enter password">
            <br>
            <button type="submit">Login</button>
        </form>
		<p style="color: red">Password: 1234</p>
		{% if error %}
		<p class="error">{{ error }}</p>
		{% endif %}
    </div>
</body>
</html>
