<!DOCTYPE html>
<html>
<head>
    <title>Monitor</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Monitor</h1>
    <ul id="connections"></ul>

    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('update', function(msg) {
            $('#connections').append('<li>' + msg.data + '</li>');
        });
    </script>
</body>
</html>
