<!DOCTYPE html>
<html>
<head>
    <title>Trainer Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome, Trainer!</h1>
		<p><a href="https://docs.google.com/spreadsheets/d/1kqr4H5RroiZDW-Y6-JXzdFNZpUNxmPlWXaiaIsXp4Os/edit?usp=sharing" target="_blank">Training data</a></p>
        <button onclick="location.href='/trainer/new_session'">New Session</button>
        <button onclick="location.href='/trainer/analyze_session'">Analyze Session</button>
    </div>
</body>
</html>
